/* Fichier CSS pour la mise en page de l'application Explorateur de données */

h2 {
  text-align: center;
}

.checkbox span {
  font-weight: bold;
}

label[for="var1-selectized"] {
  margin-bottom: 15px;
  margin-top: 10px;
}

#variables_selector {
  display: flex;
  justify-content: space-between;
}